table{
	width : 100%;
	porder-collapse: collapse;
}
th,td{
	border : 3px solid #bcbcbc;
	text-align : center;
	padding: 8px;
}
th{ background-color : #4CAF50;	color:white;}
td{background-color : #F2F2F2;}
caption{ color : #111111; font-size: 20px; background-color:#FFFFFF;}
input[type=text],input[type=password],textarea{width:100%}	
