<?xml version="1.0" encoding="UTF-8"?>
<!-- 첫 줄에는 무조건 <?xml version="1.-" encoding="UTF=8"?> 써놔야함. 다른글이와선안됨. 주석또한 안됨.-->
<!-- web-app : root 태그 또는 root Element => 1개만 가능.-->
<!-- XML은 대.소문자를 구분
     XML를 코딩할 때 정확하게 해야 함. -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
		xmlns="http://xmlns.jcp.org/xml/ns/javaee" 
		xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee 
					http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" 
		id="WebApp_ID" version="4.0">
  <display-name>jspstudy1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- error 페이지 설정 
  <error-page>
  	<error-code>404</error-code>
  	<location>/chap9/error404.jsp</location>
  </error-page>
  <error-page>
   <error-code>500</error-code>
   <location>/chap9/error500.jsp</location>
  </error-page>
  <error-page>
   <exception-type>java.lang.NumberFormatException</exception-type>
   <location>/chap9/errorNumberFormat.jsp</location>
  </error-page>
  -->
</web-app>